<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>
  <%- include('adminnav.ejs'); %>
    <div class="container border mt-3 mb-5">

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="text-center">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>

                    <th scope="col">Theater</th>
                    <th scope="col">TIME</th>
                    <th scope="col">seats</th>

                  </tr>
                </thead>
                <tbody>
                  <%theater.forEach((x)=>{%>
                    <tr>

                      <td>
                        <%=x.thname%>
                      </td>
                      <td>
                        <%=x.thtime%>
                      </td>
                      <td>
                        <%=x.thseats%>
                      </td>

                    </tr>
                    <%})%>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success my-2 my-sm-0 float-right  mr-5" data-toggle="modal"
      data-target="#myModal">
      UPDATE theater
    </button>
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">upload theataer</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form action="/admin/adminviewtheater" id="frm" method="post">
            <div class="modal-body">
              <input type="hidden" name="id" class="form-control" value="">
              <input type="text" name="thname" id="thname" placeholder="theater name" class="form-control mb-3"
                required>
              <input type="text" name="thseats" id="thname" placeholder=" total seats" class="form-control mb-3"
                required>
              <input type="text" name="thtime" id="thtime" placeholder="Time" class="form-control mb-3" required>
              <input type="text" name="movie" id="thmovie" placeholder="movie" class="form-control mb-3" required>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>