<nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
  <a class="navbar-brand text-white" href="#">book<img src="/images/2010918.png" class="img2">Show</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/userhome">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <input class="form-control mr-sm-2 ml-5" type="search" placeholder="Search">
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search"> -->
      <a class="btn btn-outline-success my-2 my-sm-0 text-white" href="/userhome/userprofile">
        <%=curuser%>
      </a>
      <a class="btn btn-danger my-2 ml-2 my-sm-0 text-white" href="/userhome/logout">Login</a>
    </form>
  </div>
</nav>